body{
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: #2c3e50;
    
    
}

h1{
    text-align: center;
    color: azure;
}

form{
    max-width: 600px;
    margin: auto;
    background-color: #2c3e50;
    border-radius: 8px;
    box-shadow: 0 4px 8px  rgba(167, 236, 204, 0.5);
    padding: 20px;
}

fieldset{
    border: 2px solid  rgba(167, 236, 204, 0.5);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #2c3e50;
}
legend{
    font-weight: bold;
    text-align: left;
    color: white;
}
label{
 margin-top: 10px;
    display: block;
    color: white;
}
input,textarea{
    width: calc(100% - 1px);
    padding: 8px;
    margin-top: 8px;
    border: 1px solid #280446;
    border-radius: 4px;
    box-sizing: border-box;
}
button{
    display: block;
    width: 100%;
    padding: 10px;
   background-color: rgba(241, 252, 247, 0.5);
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
button:hover{
    background-color: rgba(76, 105, 92, 0.5);
}
fieldset:hover{
    box-shadow: 0 4px 18px rgba(167, 236, 204, 0.5);
}
#resumeOutput{
    max-width: 600px;
    margin: auto;
    margin-top: 1%;
    padding: 20px;
    border: 2px solid 3498bd;
    border-radius: 8px;
    background-color: rgba(230, 255, 243, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}
#resumeOutput h2{
    color: #2c3e50;
}

.profilePicture{
    display: block;
    margin: 0 auto;
    border: 2px solid #280446;
    box-shadow: 0 4px 8px  rgba(167, 236, 204, 0.5);
    border-radius: 50%;
    width: 150px;
    height: 150px;
}